<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <p>
          <strong>Counter: </strong>: {{counter}} <br>
       </p>
       <p>
          <strong>Amount: </strong>: {{amount}} <br>
       </p>
        <form method="post" action="{{ url_for('test2') }}">
          <label for="amount">Amount:</label>
          <input type="number" name="amount" value="1"><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>