{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<div id="newteam">
				<i class="material-icons prefix">beenhere</i>
				<input id="teamName" type="text" class="validate" placeholder="Inserisci il nome">
				<label for="name">Nuova Squadra</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<i class="material-icons prefix">search</i>
			<input id="search" type="text" class="autocomplete" onfocus="clearInput()">
			<label for="search">Aggiungi Giocatore</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<a class="right waves-effect waves-light btn indigo" onclick="creaSquadra()"><i class="material-icons right">save</i>Salva</a>
		</div>
	</div>
</div>
<div class="row"></div>
<h2>Squadra</h2>
<div class="card-panel des">
<div id="players">
</div>
</div>

<script>
$(document).ready(function(){
	populate_players();
});
</script>
{% endblock %}