{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div class="row">
		  <a class="btn-floating waves-effect waves-light indigo right mr20" onclick="hidenew()"><i class="material-icons">mode_edit</i></a>
		  <a class="btn-floating waves-effect waves-light indigo right mr20" onclick="hidemod()"><i class="material-icons">add</i></a>	  
	</div>
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<div id="newteam">
				<i class="material-icons prefix">beenhere</i>
				<input id="teamName" type="text" class="validate" placeholder="Inserisci il nome">
				<label for="name">Nuova Squadra</label>
			</div>
			<div id="modteam" style="display:none">
				<i class="material-icons prefix">edit</i>
				<select id="teams" name="team" onchange="getTeamPlayers()">
					<option value="">Seleziona Squadra</option>
				{% for team in teams %}
	    			<option value="{{ team }}">{{ team }}</option>
				{% endfor %}
			  </select>
		  </div>
		</div>
	</div>
	<div class="row" id="addplayer" style="display:none">
		<div class="input-field col l12 m12 s12">
			<i class="material-icons prefix">search</i>
			<input id="search" type="text" class="autocomplete">
			<label for="search">Aggiungi Giocatore</label>
		</div>
	</div>
	<div class="row center" id="preloader">
		  <div class="preloader-wrapper small active">
		    <div class="spinner-layer spinner-green-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
	</div>
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<a id="save_btn" class="right waves-effect waves-light btn indigo" onclick="saveTeam()"><i class="material-icons right">save</i>Salva</a>
			<a disabled id="delete_btn" style="display:none" class="right waves-effect waves-light btn indigo" onclick="deleteTeam()"><i class="material-icons right">delete</i>Elimina</a>
			<a disabled id="edit_btn" style="display:none" class="right waves-effect waves-light btn indigo mr20" onclick="saveTeam()"><i class="material-icons right">edit</i>Modifica</a>
		</div>
	</div>
</div>
<div class="row"></div>
<h2>Squadra</h2>
<div class="card-panel des">
<div id="players">
</div>
</div>

<div id="modalStats" class="modal">
    <div class="modal-content">
      <h4 id="playerName" class="blue-text"></h4>
      <div id="modalFrame"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
    </div>
  </div>
  
<script>
$(document).ready(function(){
	populate_players();
});
</script>
{% endblock %}