{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<div id="modteam">
				<i class="material-icons prefix">beenhere</i>
				<select id="teamName" name="teamName" onchange="loadTeam()">
					<option value="">Seleziona Squadra</option>
				{% for team in teams %}
	    			<option value="{{ team }}">{{ team }}</option>
				{% endfor %}
			  </select>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col l6 m6 s12 right">
			<a disabled id="titolari_btn" class="right waves-effect waves-light btn indigo modal-trigger" onclick="getTitolari()"><i class="material-icons right">play_circle_outline</i>Verifica Titolari</a>
		</div>
		<div id="preloader" class="input-field col l6 m6 s12" style="display:none">
			Caricamento Dati...
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>
	</div>
</div>

<div class="row"></div>
<h2>Squadra</h2>
<div class="card-panel des">
		<div id="preloader_players" class="input-field col l6 m6 s12" style="display:none">
			Caricamento squadra...
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>
<div id="players">
</div>
</div>


         <div id="modalDetails" class="modal">
		    <div class="modal-content">
		      <h4 id="title" class="blue-text">Dettagli partita</h4>
		      <div id="modalContent"></div>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
		    </div>
		  </div>
  
{% endblock %}