{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div class="row">
		<div class="input-field col l10 m10 s12">
			<div id="modteam">
				<i class="material-icons prefix">beenhere</i>
				<select id="teamName" name="teamName" onchange="loadTeam()">
					<option value="">Seleziona Squadra</option>
				{% for team in teams %}
	    			<option value="{{ team }}">{{ team }}</option>
				{% endfor %}
			  </select>
		  </div>
		</div>
		<div class="input-field col l2 m2 s12">
				<i class="material-icons prefix">date_range</i>
				<select id="giornata" name="giornata">
					<option value="1">1</option>
					<option value="10">10</option>
					<option value="13">13</option>
			  </select>
		</div>
	</div>
	<div class="row">
		<div class="input-field col l6 m6 s12 right">
			<a disabled id="titolari_btn" class="right waves-effect waves-light btn indigo modal-trigger" onclick="getTitolari()"><i class="material-icons right">play_circle_outline</i>Carica</a>
		</div>
	</div>
</div>

<div class="row"></div>
<h2>Squadra</h2>
<div class="card-panel des">
<div id="players">
</div>
</div>
  
{% endblock %}