{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div id="rowhome" class="row center">
		<div class="input-field col l9 m9 s11">
			<i class="material-icons prefix">search</i>	
			<input id="search" type="text" class="autocomplete">
			<label for="search">Scegli il Comune</label>
		</div>
		<div id="0" class="input-field col l1 m1 s12 day btn">
		</div>
		<div id="1" class="input-field col l1 m1 s12 day btn">
		</div>
		<div id="2" class="input-field col l1 m1 s12 day btn">
		</div>
	</div>

<div id="preloader" class="progress" style="display:none">
	<div class="indeterminate"></div>
</div>
</div>
<div id="result" style="display:none" class="card-panel des">
<ul class="collapsible" data-collapsible="expandable">
    <li id="table_sintesi_li" style="display:none">
      <div class="collapsible-header light-blue darken-4 white-text active"><img src="static/img/sintesi.png" class="home-ico">Sintesi</div>
      <div id="table_sintesi" class="collapsible-body home"></div>
    </li>
    <li id="table_precipitazioni_li" style="display:none">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/precipitazioni.png" class="home-ico">Precipitazioni</div>
      <div id="table_precipitazioni" class="collapsible-body home"></div>
    </li>
    <li id="table_temperatura_li" style="display:none">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/temperatura.png" class="home-ico">Temperatura</div>
      <div id="table_temperatura" class="collapsible-body home"></div>
    </li>
    <li id="table_umidita_li">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/umidita.png" class="home-ico">Umidita</div>
      <div id="table_umidita" class="collapsible-body home"></div>
    </li>
    <li id="table_pressione_li">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/pressione.png" class="home-ico">Pressione</div>
      <div id="table_pressione" class="collapsible-body home"></div>
    </li>
    <li id="table_vento_li">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/vento.png" class="home-ico">Vento</div>
      <div id="table_vento" class="collapsible-body home"></div>
    </li>
    <li id="table_neve_li">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/sintesi.png" class="home-ico">Neve</div>
      <div id="table_neve" class="collapsible-body home"></div>
    </li>
    <li id="table_mare_li">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/sintesi.png" class="home-ico">Mare</div>
      <div id="table_mare" class="collapsible-body home"></div>
    </li>
    <li id="table_uv_li">
      <div class="collapsible-header light-blue darken-4 white-text"><img src="static/img/sintesi.png" class="home-ico">Raggi UV</div>
      <div id="table_uv" class="collapsible-body home"></div>
    </li>
</ul>
	
</div>



<script>
$(document).ready(function(){
	init();
});
</script>
{% endblock %}