{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div class="row">
		<div class="input-field col l12 m12 s12">
			<i class="material-icons prefix">search</i>
			<input id="search" type="text" class="autocomplete">
			<label for="search">Cerca</label>
		</div>
	</div>
	
	<table border="1">
         <thead>
            <tr>
               <td>Ora </td>
               <td>Tempo </td>
            </tr> 
         </thead>
         <tbody jput="users" jput-jsondata='[]'>
            <tr>
               <td>{{ora}}</td>
               <td>{{label}}</td>
            </tr>
         </tbody>
    </table>
	
</div>



<script>
$(document).ready(function(){
	populate_list();
});
</script>
{% endblock %}