{% extends "layout.html" %}
{% block content %}
<div class="card-panel des">
	<div id="rowhome" class="row center">
		<div class="input-field col l9 m9 s11">
			<i class="material-icons prefix">search</i>	
			<input id="search" type="text" class="autocomplete">
			<label for="search">Scegli il Comune</label>
		</div>
		<div id="0" class="input-field col l1 m1 s12 day btn">
		</div>
		<div id="1" class="input-field col l1 m1 s12 day btn">
		</div>
		<div id="2" class="input-field col l1 m1 s12 day btn">
		</div>
	</div>

<!-- <div id="meteoitdefs" style="display:none"></div>  -->

<div id="preloader" class="progress" style="display:none">
	<div class="indeterminate"></div>
</div>

<ul id="result" style="display:none" class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Sintesi</div>
      <div id="table_sintesi" class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Pressione</div>
      <div id="table_pressione" class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Umidita</div>
      <div id="table_uv" class="collapsible-body"></div>
    </li>
</ul>
	
</div>



<script>
$(document).ready(function(){
	populate_list();
	populate_days();
	$('.collapsible').collapsible();
});
</script>
{% endblock %}