<!DOCTYPE html>
<html>
   <head>
      <title>{{ title }}</title>
      <link rel="icon" href="favicon.ico" />
      <link type="text/css" rel="stylesheet" href="/static/content/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/static/content/jquery-ui.min.css">
      <link type="text/css" rel="stylesheet" href="/static/content/jquery-ui.structure.min.css">
      <link type="text/css" rel="stylesheet" href="/static/content/jquery-ui.theme.min.css">
      <link type="text/css" rel="stylesheet" href="/static/content/site.css" />
      <link type="text/css" rel="stylesheet" href="/static/content/jquery.dynatable.css" />
      <link type="text/css" rel="stylesheet" href="/static/content/weather-icons.min.css" />
      <meta name="theme-color" content="#ffffff">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <meta property="og:title" content="Mad Meteo">
      <meta property="og:site_name" content="Mad Meteo">
      <meta property="og:description" content="Mad Meteo">
      <meta property="og:locale" content="it_IT">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
      <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
      <META HTTP-EQUIV="Expires" CONTENT="-1">
      <script type="text/javascript" src="/static/scripts/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="/static/scripts/jquery.dynatable.js"></script>
      <script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
      <script type="text/javascript" src="/static/scripts/jput.min.js"></script>
      <script type="text/javascript" src="/static/scripts/materialize.min.js"></script>
      <script type="text/javascript" src="/static/scripts/utils.js"></script>
      <script type="text/javascript" src="/static/scripts/mm.js"></script>
      <script type="text/javascript" src="/static/scripts/bydonpablo.js"></script>
   </head>
   <body>
      <header>
         <nav class="top-nav blue lighten-5" style="height:80px">
	         <div class="nav-wrapper">
                  <a class="brand-logo right" style="margin-right: 10px"><img src="static/img/logomad.png" class="home-logo" /></a>
                  <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full show-on-large" style="margin-left:0"><i class="material-icons light-blue darken-3" style="height:80px; width:40px; line-height: 80px; font-size: xx-large;">keyboard_arrow_right</i></a>
             </div>
        </nav>
        <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
            <li><i id="closesidenavbtn" class="material-icons light-blue darken-2 right curpoint" style="height:80px; width:40px; line-height: 80px; font-size: xx-large; color: #ffffff">keyboard_arrow_left</i></li>
            <li class="check"><strong class="conftype">Fonti Previsioni</strong></li>
            <li><div class="divider"></div></li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="meteoit_check" name="source_site" value="meteoit" checked="checked" />
              <label for="meteoit_check">Meteo.it</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="3bmeteo_check" name="source_site" value="trebmeteo" checked="checked" />
              <label for="3bmeteo_check">3BMeteo</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="ilmeteo_check" name="source_site" value="ilmeteo" checked="checked" />
              <label for="ilmeteo_check">IlMeteo</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="meteolive_check" name="source_site" value="meteolive" checked="checked" />
              <label for="meteolive_check">Meteo Live</label>
            </li>
            <li><div>&nbsp;</div></li>
            <li class="check"><strong class="conftype">Tipologie Previsione</strong></li>
            <li><div class="divider"></div></li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="sintesi_check" name="prev_type" value="sintesi" checked="checked" />
              <label for="sintesi_check">Sintesi</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="precipitazioni_check" name="prev_type" value="precipitazioni" checked="checked" />
              <label for="precipitazioni_check">Precipitazioni</label>
            </li>
             <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="temperature_check" name="prev_type" value="temperatura" checked="checked" />
              <label for="temperature_check">Temperature</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="umidita_check" name="prev_type" value="umidita" checked="checked" />
              <label for="umidita_check">Umidit&agrave;</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="pressione_check" name="prev_type" value="pressione" checked="checked" />
              <label for="pressione_check">Pressione</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="vento_check" name="prev_type" value="vento" checked="checked" />
              <label for="vento_check">Vento</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="neve_check" name="prev_type" value="neve" checked="checked" />
              <label for="neve_check">Neve</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="mare_check" name="prev_type" value="mare" checked="checked" />
              <label for="mare_check">Mare</label>
            </li>
            <li class="check">
              <input type="checkbox" class="filled-in checkhome" id="uv_check" name="prev_type" value="uv" checked="checked" />
              <label for="uv_check">UV</label>
            </li>
        </ul>
      </header>
      <main>
         <!-- <h3>{{ title }}<i class="material-icons left">{{ icon }}</i></h3> -->
         <div class="row"></div>
         {% block content %}{% endblock %}
      </main>
      <footer class="page-footer style-footer white">
         <div style="background-color:#1565C0;height:1px"></div>
         <div class="container" style="width: 95%;">
            <div class="footer-copyright container-footer style-footer-copyright black-text right white bold">
               <div class="right">
                  <img alt="logo" class="responsive-img" src="/static/img/logo.png" width="40px">
                  by DP
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>